.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5px;
    background-color: #333;
    color: #fff;
    height: 80px;
    z-index: 9999;
  }
  
  .logo {
    margin-right: 20px;
    cursor:pointer;
    object-fit: cover;
  }
  
  .logo img {
    height: 125px;
    width: 150px;
    object-fit: cover;
  }


  @media only screen and (max-width: 600px) {
    .navbar{
      padding: 0px;
      align-items: flex-start;
      margin: auto;
    }
    .logo img{
      height: 90px;
      width: 100px;
      margin: 0;
      margin-bottom: 20px;
    }
  }
 